In [24]:
 # creating a set
names = {"Rishab","Mayank","Tamal","prateek"}
print(names)
# printing order is random

{'Mayank', 'Tamal', 'prateek', 'Rishab'}

In [25]:
# length and data type
print(len(names))
print(type(names))

4
<class 'set'>

In [26]:
# accessing items of set
for i in names:
    print(i)

Mayank
Tamal
prateek
Rishab

In [27]:
# check if item is there in set
if "rishab" in names:
    print(True)
else:
    print(False)

False

In [28]:
if "Rishab" in names:
    print(True)
else:
    print(False)

True

In [29]:
# add elements in set
names.add("Ria")
print(names)

{'prateek', 'Tamal', 'Ria', 'Mayank', 'Rishab'}

In [30]:
names.add("Rishab")
print(names)
# Rishab is not added againg because duplicate values are not allowed in set

{'prateek', 'Tamal', 'Ria', 'Mayank', 'Rishab'}

In [31]:
# to another sequence in a set
a = { 1,2,3}
names.update(a)
print(a)
print(names)

{1, 2, 3}
{'prateek', 1, 2, 3, 'Tamal', 'Ria', 'Mayank', 'Rishab'}

In [32]:
# add a list to names
x=["rahul","ram"]
names.update(x)
print(x)
print(names)

['rahul', 'ram']
{'prateek', 1, 2, 3, 'Tamal', 'rahul', 'Ria', 'Mayank', 'ram', 'Rishab'}

In [33]:
# to remove an item
names.remove("Tamal")
print(names)

{'prateek', 1, 2, 3, 'rahul', 'Ria', 'Mayank', 'ram', 'Rishab'}

In [36]:
# to join 2 sets
set1 = {1,2,3,4,5,6}
set2 = {7,8,9,10,6}
print(set1,set2)
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6} {6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
# some operation in sets
a = set1.copy()
print(a)
b = set2.copy()
print(b)
a.intersection_update(b)
print(a)
a = set1.copy()
a.symmetric_difference_update(b)
print(a)

{1, 2, 3, 4, 5, 6}
{6, 7, 8, 9, 10}
{6}
{1, 2, 3, 4, 5, 7, 8, 9, 10}