In [1]:
name = "Rishab"
Roll_number = 3097
percentage = 91
is_student = True
print(name)
print(Roll_number)
print(percentage)
print(is_student)

Rishab
3097
91
True

In [2]:
print(name, Roll_number, percentage, is_student)

Rishab 3097 91 True

In [3]:
# updatint a nariable 
percentage = 87
print(name, Roll_number, percentage, is_student)

Rishab 3097 87 True

In [4]:
# To get the type of variable as areturn type
print(type(name), type(Roll_number), type(percentage), type(is_student))

<class 'str'> <class 'int'> <class 'int'> <class 'bool'>

In [5]:
print("My name is " + name)

My name is Rishab

In [7]:
print("My name is " + name + " and my roll number is " + Roll_number)

TypeError: can only concatenate str (not "int") to str

In [8]:
# Diff type of variable cant be concatinated
# and my roll number is --> string 
# where as roll_number --> int 
# therefore cant be concatinated

In [10]:
# Therefore we will use a coma instead of +
print("My name is " + name + " and my roll number is ",Roll_number,"and my percentage is ",percentage," and i am a student",is_student)

My name is Rishab and my roll number is  3097 and my percentage is  87  and i am a student True

In [11]:
# printing expressions
print("My percent has changed to ",percentage-1)

My percent has changed to  86

In [15]:
# print with seperator
# sep is a variable which stores the seperator and seperator can be anything
print(name,Roll_number,percentage,is_student,sep = "-")
print(name,Roll_number,percentage,is_student,sep = "/")

Rishab-3097-87-True
Rishab/3097/87/True